<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload New Item</title>
</head>
<body>
    <div>
        
        <%- include('partials/navbar.js') %>

        <div>
            <h2>Upload New Item</h2>
            <form action='/upload' method='POST' enctype='multipart/form-data'>
                <div>
                    <label for='name'>Name</label>
                    <input type='text' id='name' name='name' required>
                </div>

                <div>
                    <label for='description'>Description</label>
                    <input type='text' id='description' name='description' required>
                </div>

                <div>
                    <label for='image'>Image</label>
                    <input type='file' id='image' name='image'>
                </div>

                <button type='submit'>Submit</button>

            </form>
        </div>
    </div>
</body>
</html>