*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    background:grey;
    border-radius: 5px;
}

nav ul{
    padding:5px;
    display:flex;
}

ul{
    list-style-type: none;
    justify-content: space-around;
}

a{
    text-decoration: none;

}

footer{
    width:100%;
    text-align: center;
}
img{
    max-width:50ch;
    border-radius: 20px;
}
p{
    max-width:50ch;
}

.item-card{
    margin-bottom: 120px;
}
.card-button{
    width:50px;
    height:30px;
    border:1px solid red;
    display: inline-block;
}