nav{
    background:grey;
    padding:5px;
}

nav ul{
    display:flex;
}

ul{
    list-style-type: none;
    justify-content: space-around;
}

a{
    text-decoration: none;

}

footer{
    width:100%;
    text-align: center;
}